footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

img {
    width: 600px; /* You can set the dimensions to whatever you want */
    height: 400px;
    object-fit: cover;
    object-position: top;
}

.search-container{
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;

  background-color: #fff
}

.new-artist-form-container{
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;

  background-color: #fff
}
